.dashboardContainer {
    position: fixed;
    width: 800px;
    height: 100vh;
    background-color: #e03434;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainColumnContainer{
    margin:35px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
   justify-content:flex-start;


}
.dashBoardTitleContainer{
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
}
.topicsList{
    background-color:#00f324;

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;


}
.webcamContainer{
    width:45vw;
    height:50%;
    background-color: #65a294;
    margin-bottom:10px;
}
.plotsContainer{
    width:45vw;
    height:50%;
    background-color: #23742e;
    margin-top:35px;
}
.welcomeMsg{
    color: #fff;
    font-size:35px;
    font-family: sans-serif;



}
.welcomeMsgSmall{
    color: #fff;
    font-size:25px;
    font-family: sans-serif;
}
.listItem{
    background-color: #ff0032;
    color: rgb(0, 0, 0);
    margin-top:10px;
    font-size:25px;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
